<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - DinDin</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Architects+Daughter|Ceviche+One">
    <link href="~/favicon.png" rel="shortcut icon" type="image/png" />
    <meta name="viewport" content="width=device-width" />
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="top">
        <span id="logo">DinDin</span>
        <span id="userSettings">
            @Html.Partial("_UserSettings")
        </span>
    </div>
    <div id="body">
        @if (@User.Identity.IsAuthenticated)
        {
            <div id="menu">
                <ul>
                    <li><a href="/ToDo">To Do</a></li>
                    <li><a href="/Balance">Balance</a></li>
                    <li><a href="/Expenses">Expenses</a></li>
                    <li><a href="/Manage/Account">Manage</a></li>
                </ul>
            </div>       
        }
        @RenderBody()
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - DinDin Development Team</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/ajaxlogin")
    @RenderSection("scripts", required: false)
</body>
</html>
